<!--================ Start Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="banner_content">
                        <h2>Hello,I'm </h2>
                        <h1>{{myData.name}}</h1>
                        <h4>{{myData.work}}</h4>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="home_right_img">
                        <img class="" src="img/banner/home-right.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Home Banner Area =================-->
<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="" src="img/about-us.png" alt="">
                </div>
            </div>
            <div class="offset-lg-1 col-lg-5">
                <div class="main_title text-left">
                    <h2>let’s <br> Introduce about <br> myself</h2>
                    <p>
                        My name is {{myData.name}}. You can call me {{myData.nickname}}<br>
                        Current I'm a {{myData.work}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End About Us Area =================-->
